@use "./base.scss";

// cssclasses

.article-title.small-title {
  font-size: 1.3rem;
}

.article-title.no-inline-title {
  display: none;
}

// hide

.darkmode,
.page-footer,
.search-button,
.external-icon,
hr,
h1 .internal,
h2 .internal,
h3 .internal,
h4 .internal,
h5 .internal,
h6 .internal {
  display: none !important;
}

.article-title,
h1,
h2,
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;

  text-align: center;
  font-variant-caps: small-caps;

  background: color-mix(in srgb, var(--light) 98%, white);

  border-radius: 5px;
  border: 1px solid;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;

  text-align: center;
  font-variant-caps: small-caps;

  background: color-mix(in srgb, var(--light) 98%, white);

  border-radius: 5px;
  border: 1px solid #404040;
}

// ---

blockquote {
  border-left: 8px solid #383838;
  border-radius: 4px;
  background: #292929;
}

// ---

.external-embed.youtube,
img {
  border-radius: 5px;
  border: 1px solid #404040;
}

// ---

h1:not(.article-title)::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  font-family: "Roboto Mono";
  font-weight: 300;
  font-style: italic;
  font-size: 0.7em;
  margin-right: 5px;
}

h1:hover::before {
  content: "H1";
}

h2:hover::before {
  content: "H2";
}

h3:hover::before {
  content: "H3";
}

h4:hover::before {
  content: "H4";
}

h5:hover::before {
  content: "H5";
}

h6:hover::before {
  content: "H6";
}

.article-title:hover::before {
  content: "";
}

//---

.external {
  color: rgb(185, 125, 248);
}

a.internal {
  background-color: var(--light);
  color: rgb(124, 175, 194);
}

.callout a.internal {
  color: rgb(84, 200, 208);
}

// ---

.article-title,
.page article > h1 {
  font-size: 1.6rem;
}

body {
  font-size: 1.2rem;
}

code {
  font-size: 1rem !important;
}

p + ul,
p + ol {
  margin-top: 0.3em !important;
}

p {
  margin-bottom: 0.2em;
}

// ---

.callout {
  padding: 3px;
}

.callout-title {
  border-bottom: none;
  gap: 0;
  padding: 2px 5px 2px 5px;
}

.callout-content {
  background-color: var(--light);
  border: solid rgba(var(--callout-color), 0.15);
  border-width: 3px;
}

.callout-content-inner {
  margin: 10px;
}

.callout-content-inner p {
  margin: 0px;
}

.callout-content-inner ul {
  margin-bottom: 0 !important;
}

.callout pre {
  padding: 10px;
  margin: 0px;
  gap: 0px;
}

.callout-icon {
  margin-right: 5px;
}

.callout {
  &[data-callout="toc"] {
    --color: #bababa;
    --border: #3f3f3f;
    --bg: #3f3f3f;
    --callout-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2'%3e%3cpath d='M4 6h16M4 12h16M4 18h16'/%3e%3c/svg%3e");
  }

  &[data-callout="code"] {
    --color: #bababa;
    --border: #303030;
    --bg: #303030;
    --callout-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M16 18l6-6-6-6M8 6l-6 6 6 6'/%3e%3c/svg%3e");
  }

  &[data-callout="description"] {
    --color: #bababa;
    --border: #3f3f3f;
    --bg: #3f3f3f;
    --callout-icon: var(--callout-icon-question);
  }
}

.callout[data-callout-metadata="hide-title"] .callout-title {
  display: none;
}

// ---

ul ul::before,
ol ol::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background: var(--lightgray);
}

ul ul,
ol ol {
  position: relative;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

code {
  background-color: #242424;
  color: rgb(218, 151, 93);
}

// ---

strong {
  color: rgb(209, 63, 141) !important;
}

em {
  color: rgb(201, 87, 148) !important;
}

.external strong,
.external em,
.internal strong,
.internal em {
  color: inherit !important;
}

// ---

div .table-container table {
  border-collapse: collapse;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

div .table-container td {
  border: solid 1px #666666;
  padding: 2px 6px;
  text-align: left;
  vertical-align: top;
}

div .table-container th {
  background-color: #383838;
  color: #f0f0f0;
  border: solid 1px #666666;
  border-bottom: 2px solid #555555;
  padding: 2px 6px;
  text-align: left;
  vertical-align: middle;
}

tbody tr:nth-child(even) {
  background-color: #222222;
}

tbody tr:nth-child(odd) {
  background-color: #1c1c1c;
}

.highlight-special {
  color: rgb(251, 70, 76);
}

.highlight-punctuation {
  color: rgb(84, 200, 208);
}

// backlinks

.backlinks h3 {
  display: none;
}
.backlinks::before {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--lightgray);
  margin-bottom: 1rem;
}
